{% extends 'base.html' %}
{% block content %}

<div class="container text-center" style="margin-top:1rem;">
    <div class="my-div-style">
        <h1>{% if token_fail %}不正トークン{% else %}パスワードリセット{% endif %}</h1>

        {% if token_fail %} {% url 'account_reset_password' as password_reset_url %}
        <p>このパスワードリセット用リンクは無効になっています。<a href="{{ password_ reset_url }}">パスワードリセット再申請</a></p>
        {% else %} {% if form %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %} {{ form.as_p }}
            <button class="btn btn-primary" type="submit">変更する</button>
        </form>
        {% else %}
        <p>パスワードが変更されています。もう一度お確かめください。</p>
        {% endif %} {% endif %}
    </div>
</div>
{% endblock %}