.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.card-link {
  position: relative;
}
.card-link a {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}

.post-card {
  margin-top: 5px;
  margin-bottom: 5px;
}