{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container text-center" style="margin-top:1rem;">
      ユーザ名：{{ user.username }}<br>
      最終ログイン: {{ user.last_login }}<hr class="border">
    
    <h1>投稿した動画</h1>
        {% for movie in movie_list %}
        {% if movie.samune %}
            <a href="{% url 'movie_site:movie_detail' movie.pk %}">
                <img class="rounded mx-auto d-block" src="{{ movie.samune.url }}" alt="" allowfullscreen>
            </a>
        {% else %}
            <a href="{% url 'movie_site:movie_detail' movie.pk %}">
                <img class="rounded mx-auto d-block" src="{% static 'img/images.png' %}" alt="" allowfullscreen>
            </a>
        {% endif %}
            <a class="btn btn-link" href="{% url 'movie_site:movie_detail' movie.pk %}">
                {{movie.title}}
            </a>
        {% endfor %}
      {% include "pagination.html" %}
      {%include "footer.html"%}
  </div>
{% endblock %}