{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container text-center" style="margin-top:1rem;">
     <div class="jumbotron text-info"  style="background:url({% static 'img/movie.jpg' %}); background-size:cover;">
          <h1>How Videos is here.</h1>
         <span class="badge badge-info">動画共有サイトです。</span>
     </div>
    <hr>

    {% for movie in movie_list %}
    <div class="card">
        <div class="card-body">
            {% if movie.samune %}
                <a href="{% url 'movie_site:movie_detail' movie.pk %}">
                    <img class="rounded mx-auto d-block" src="{{ movie.samune.url }}" alt="" allowfullscreen>
                </a>
            {% else %}
                <a href="{% url 'movie_site:movie_detail' movie.pk %}">
                    <img class="rounded mx-auto d-block" src="{% static 'img/images.png' %}" alt="" allowfullscreen>
                </a>
            {% endif %}
                <a class="btn btn-link" href="{% url 'movie_site:movie_detail' movie.pk %}">
                    <h5>{{movie.title}}</h5>
                </a><br>
        </div>
    </div>
    {% endfor %}

        {% include "pagination.html" %}
        {% include 'footer.html' %}
</div>
{% endblock %}